<div *ngIf="competition">
    <div class="comp-details">
        <h2>Competition: {{competition.name}}</h2>
        <div>
            <label>id: </label>{{competition.id}}
        </div>
        <div class="padbottom-5">
            <label>name: </label>
            <input [(ngModel)]="competition.name" placeholder="name" />
        </div>
    </div>
    <div class="schoollist">
        <h2>Schools</h2>
        <ul class="schools">
            <li *ngFor="let school of competition.schools" (click)="onSelect(school)" class="school">
                <span class="school-details">
                    <span class="badge">{{school.id}}</span> {{school.name}}
                </span>
                
                <button class="delete-button">Delete</button>
                <ul *ngIf="selectedSchool && selectedSchool.short === school.short" class="teams">
                    <li *ngFor="let team of selectedSchool.teams">
                        <span class="team-element">
                            {{team.name}}
                        </span>
                        <button>Delete</button>
                    </li>
                    <li>
                        <input [(ngModel)]="newTeam.name" placeholder="team" />
                        <button (click)="addNewTeam()">Add Team</button>
                    </li>
                </ul>
            </li>
            <li>
                <input [(ngModel)]="newSchool.name" placeholder="name" />
                <input [(ngModel)]="newSchool.short" placeholder="short" size="4" />
                <button (click)="addNewSchool()">Add</button>
        </ul>
    </div>
            <button (click)="goBack()">Back</button>
        <button (click)="save()">Save</button>
</div>