.comp-details {
    padding-bottom: 10px;
}
.selected {
    background-color: #cfd8dc !important;
    color: white;
}
.schools, .teams {
    list-style: none;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium
}
.schools {
    margin: 0 0 2em 0;
    background-color: #bec7cb;
    width: 15em;
    border-radius: 4px 0 0 4px;
}
.teams {
    padding-left: 5px;
    background-color: #cfd8dc;
    font-size: small;
}
.schools li, .teams li {
    cursor: pointer;
}
.schools li {
    margin-bottom: 5px;
    padding-left: .3em;
}