<h2>Competitions</h2>
<ul class="comps">
  <li *ngFor="let comp of competitions" (click)="onSelect(comp)" [class.selected]="comp === selectedComp">
    <span class="comp-element">
      <span class="badge">{{comp.id}}</span> {{comp.name}}
    </span>
    <button class="delete-button" (click)="deleteComp(comp, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addComp()">Add New Competition</button>
<div *ngIf="addingCompetition">
  <my-comp-detail (close)="close($event)"></my-comp-detail>
</div>

<div *ngIf="selectedCompetition">
  <h2>
    {{selectedCompetition.name | uppercase}} is my comp
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>